\begin{minipage}[t][][b]{0.45\textwidth}
\begin{tabu} to 1\textwidth { r X[l] }
\tableheader{<%= assigns[:header] || "Osoba:" %>} & <%= @data.name %>\\
<%= if Map.get(@data, :address) not in [nil, ""] do %>
\tableheader{Adres:} & <%= format_table_cell(@data.address) %>\\
<% end %>
<%= if Map.get(@data, :nip) not in [nil, ""] do %>
  \tableheader{NIP:} & <%= @data.nip %> \\
<% end %>
<%= if Map.get(@data, :phone) not in [nil, ""] do %>
  \tableheader{Telefon:} & <%= @data.phone %> \\
<% end %>
\end{tabu}
\end{minipage}%
