\documentclass{report}
\usepackage{invoice,fontspec,xeCJK,makecell,tabu,graphicx}
\usepackage{xcolor}
\usepackage[margin=3cm]{geometry}
\setmainfont{Source Sans Pro}
\setCJKmainfont{Noto Serif CJK TC}
\setlength{\parindent}{0cm}
\XeTeXlinebreaklocale "zh"
\definecolor{thcolor}{HTML}{444444}
\definecolor{headercolor}{HTML}{2980B9}
\newcommand{\tableheader}[1]{{\bfseries\color{thcolor}#1}}
\newcommand*{\tabbox}[2][t]{%
\vspace{0pt}\parbox[#1][1.7\baselineskip]{1cm}{\strut#2\strut}}
\begin{document}
\def\arraystretch{1.5}
% Header
{\color{headercolor}
{\Huge Faktura}\\
Nr 2018/02/2}

\vspace*{5mm}

\begin{table}[ht]
<%= render("_contact_data.tex", data: @seller, header: "Sprzedawca:") %>%
\hspace{0.1\textwidth}%
<%= render("_contact_data.tex", data: @client, header: "Nabywca:") %>
\end{table}

\end{document}
